.thanks-contact-container{
  font-family: poppinsMedium;
  font-size: 12px;
  color: black;
}
.home-btn{
  margin-top: 220px !important;
  width: 240px;
  border-radius: 16px !important;
}
.thanks-img{
  max-height: 160px;
  margin-bottom: 30px;
  margin-top: 50px;
}

@media(min-width : 768px){
  .home-btn{
    margin-top: 80px !important;
  }
}